<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
  

</head>
<body>
    <div class="container">
       <div class="col-md-4">
        <form action="addData" method="post" autocomplete="off">
            {% csrf_token %}
            <h3 class="page-header text-primary text-center">Registration</h3>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label>Age</label>
                <input type="text" class="form-control" name="age">
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" name="address">
            </div>
            <div class="form-group">
                <label>Contact</label>
                <input type="text" class="form-control" name="contact">
            </div>
            <div class="form-group">
                <label>Mail</label>
                <input type="text" class="form-control" name="mail">
            </div>
         <div class="form-group pull-right">
            <input type="submit" value="Register" class="btn btn-primary">
            <input type="reset" value="Clear" class="btn btn-danger">
         </div>
        </form>
       </div>

       <div class="col-md-6">
        {% if datas %}
            <h3 class="page-header text-primary text-center">View Details</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>S.no</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>Contact</th>
                        <th>Mail</th>
                    </tr>
                </thead>
                    {% for data in datas %}
                    <tbody>
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{data.Name}}</td>
                            <td>{{data.Age}}</td>
                            <td>{{data.Address}}</td>
                            <td>{{data.Contact}}</td>
                            <td>{{data.Mail}}</td>
                        </tr>
                    </tbody>
                    {%endfor%}
            </table>
            {%endif%}
       </div>
    </div>   
</body>
</html>